*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*mobile menu*/

.mobile-menu {
    background-color: gray;
    width: 100vw;
    /*    height 100vh in js*/
    height: 50px;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    transition: 1.5s;
    z-index: 5;
}


.lock-title {
    width: 100vw;
    display: flex;
}

.menu-icon-closed {
    height: 20px;
    width: auto;
    margin: 15px 10px auto auto;
}

.unlock-the-menu {
    font-size: 20px;
    margin: 15px auto auto 0;
}

.dropdown-menu {
    /*    display flex in js*/
    display: none;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mobile-nav-el {
    margin: 10px;
    text-decoration: none;
    font-size: 50px;
    text-align: end;
    color: black;
}

/* main section for mobile */
#mainimage-container {
    display: block;
    height: 100vh;
    background-image: url(../media/main-image.jpg);
}

#mainimage {
    height: 100%;
}

#mainimage-text-container {
    position: absolute;
    width: 100vw;
    height: 20vh;
    bottom: 10vh;
}

#name {
    font-size: 12vw;
    color: #fff;
    text-align: left;
    margin-left: 10vw;
}

#shop {
    font-size: 15vw;
    color: #fff;
    text-align: center;
}

#line {
    border-bottom: #fff solid 2px;
    width: 75vw;
    position: absolute;
    bottom: 40vh;
}

/*about section for mobile*/

#about-section {
    height: 100vh;
    background-color: #252616;
}

#about-title {
    padding-top: 5vh;
    margin-left: 10vw;
    color: #fff;
    font-size: 10vw;
}

.section-line {
    border-bottom: #fff solid 2px;
    width: 90vw;
    left: 10vw;
    position: absolute;
}

#story-container-1 {
    width: 100vw;
    text-align: center;
    margin-top: 7vh;
    position: relative;
}

#story-image-1 {
    width: 80vw;
}

#description-container-1 {
    width: 80vw;
    margin-left: 5vw;
    background-color: rgba(255, 255, 255, 0.3);
    height: 12vh;
    margin-left: 15vw;
    position: absolute;
    top: 27vh;
}

.description-text {
    padding-top: 4vh;
    padding-left: 5vw;
    opacity: 100%;
    color: #fff;
    font-size: 4vw;
    text-align: left;
}

.readmore {
    color: #fff;
    position: absolute;
    right: 5vw;
    bottom: -5px;
    font-size: 3vw;
}

/* media queries */

@media only screen and (min-width: 550px) {
    #mainimage-container {
        display: none;
    }

    #mainvideo-container {
        display: block;
        height: 100vh;
    }

    .mobile-menu {
        display: none;
    }
